@model List<DontWineAboutIt.Models.Wine>

<link href="~/Style.css" rel="stylesheet" type="text/css" />

@if (Model.Count == 0)
{
    <div id="no-wines-available">
        No Wines available, refine your search and try again!
    </div>
}
else
{
    <div id="table-with-title">
        <div class="welcome-message">
            <h3>
                Hi @ViewBag.Name
            </h3>
        </div>
        
        <p>Here's a list of wines with price of @Model[0].Price and points of @Model[0].Points</p>

        <table>
            <tr>
                <th>Country</th>
                <th>Description</th>
                <th>Designation</th>
                <th>Winery</th>
            </tr>

            @foreach (var wine in Model)
            {
                <tr>
                    <td>@wine.Country</td>
                    <td>@wine.Description</td>
                    <td>@wine.Designation</td>
                    <td>@wine.Winery</td>
                </tr>
            }
        </table>
    </div>
}

